{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
  <link rel="stylesheet" href="{% static "chat_app/styles.css" %}">
</head>
<body>
  <div class="box-container">
  <h1 style="text-align: center;color:brown;font-size:25px;">Chat Room</h1>
  <p><strong> Hello {{ first_person }}</strong>
    
  <p><strong>Your Connection established with </strong>  <strong>{{ user2 }}</strong></p>
  </div>
  <form id="form">
    <input type="text" name="message"/>
</form>

<div id="messages"></div>

<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if(data.type === 'chat'){
            let messages = document.getElementById('messages')

            messages.insertAdjacentHTML('beforeend', `<div>
                                    <p>${data.message}</p>
                                </div>`)
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value 
        chatSocket.send(JSON.stringify({
            'message':message
        }))
        form.reset()
    })

</script>
</body>
</html>